<h3>Editing '<%= @article.title %>'</h3>
<% button_to "Back", article_path( @article ), class: "btn neutral" %>
<p> <%= button_to "Delete Article", article_path( @article ), data: { confirm: "Are you sure?" }, method: :delete, class: "btn bad" %></p>

<%= form_for :article, url: article_path( @article ), html: { method: :put }, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>

  <%= form.hidden_field :author, :value => current_user.username %>
  <p>
    <%=  form.submit "Update Article", class: "btn good" %>
  </p>
<% end %>
